// Cluster Configuration ---------------------------------------------------------------------------

executor="slurm"
walltime="40:00:00"
queue="prod"
mem_param="mem"
memory="65"
procs="8"
useLegacyTorqueJobPolling=true	// Req for 0.9.9.9
modules="samtools"

// Stages ------------------------------------------------------------------------------------------

commands {

    genome {
        procs="8"
        memory="65"
    }

    align {
        procs="8"
        memory="65"
    }

    index {
        procs="1"
        modules="samtools"
    }

    featurecounts {
        procs="8"
        memory="30"
        modules="subread"
    }

    single {
        procs="1"
        memory="16"
    }

}

